%h1 Chat

%ul#chat
  - @messages.each do |message|
    %li
      %strong.autor= "#{message.author}:"
      %span= message.content

= form_for Message.new, remote: true do |f|
  = f.text_field :content
  = f.submit "Send"

= subscribe_to "/messages/new"
